html{
  font-family: Helvetica;
  text-align: center;
}
h1{
  font-size: 70px;
  font-weight:bold;
}
nav{
  font-size: 18px;
}
#home{
  color: blue
  background-image: url(../../Resources/Images/the-flatiron-building.png);
}
